body {
  background: #f8e8a6;
  display: block;
  margin-top: 10px;
}
h2 {
  text-align: center;
}
p {
  text-align: center;
}
h1 {
  text-align: center;
}
footer {
  text-align: center;
}
footer a {
  margin: 0 10px;
  color: green;
}

.croissant-photo {
  border-radius: 10px;
  max-width: 100%;
  display: block;
  margin: 10px auto;
}
