body {
  background: #f8e8a6;
  display: block;
  margin-top: 10px;
}
a href {
  text-align: center;
}
h2 {
  text-align: center;
}
p {
  text-align: center;
}
h1 {
  text-align: center;
}
footer {
  text-align: center;
}
